html { height: 100dvh} /* precautionary measure so the root element adjusts its height based on the viewport */

body { 
    min-height: 100dvh; /* flexible, allows it to be at least 100% but can expand if content needs it */
    margin: 0;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.header {
    padding-top: 20px;
    padding-bottom: 70px;
    background-color: #1F2937;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}


/* First section */

.section-1 {
    background-color: #1F2937;
    padding-bottom: 100px;
}

.header, .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

#logo-text {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 500;
}

#hero-content {
    width: 460px;
}

.hero-container h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
    
}

button {
    border-radius: 8px;
    padding: 8px 35px;
    background-color: #3882F6;
    color: #F9FAF8;
    text-align:center;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

a, .secondary-text {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.secondary-text {
    margin-top: 9px;
    margin-bottom: 11px;
}

/*-----------------Section 2------------------------*/

.section-2{
    display: flex; /**/
    flex-flow: column;
    justify-content: center; /**/
    padding-bottom: 70px;
}

h2 {
    margin: 24px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #1F2937;
}

.info {
    max-width: 150px;
    text-align: center;
}

.image-box{
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 5px;
}

#info-container {
    margin: 36px;
    display: flex;
    gap: 52px;
    align-self: center;
}

.text {
    color: #6a6c6f;
    font-size: 18px;
}

/*----------------Section 3-------------*/

.section-3 {
    background-color: #E5E7EB;
    display: flex; /**/
    flex-flow: column;
    justify-content: center; /**/
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

p {
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    text-align: left;
    margin: 0 auto;
    width: 1000px;
    align-self: center;
}

#quote-author {
    align-self: flex-end;
    margin-top: 24px;
    margin-right: 265px;
    color: #1F2937;
    font-weight: 600;
    font-size: 16px;
}

.section-1, .section-2, .section-3, .section-4 {
    flex: 1 1 0;
}
/*---------------Section 4--------------*/

.section-4 {
    display: flex; /**/
    justify-content: center; /**/
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.modal {
    display: flex;
    background-color: #3882F6;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    height: 125px;
    border-radius: 6px;
}

.call-to-action {
    margin-left: 100px;
    color: #F9FAF8;
    font-weight: 500;
    font-size: 18px;
}

#CTA-sub {
    color:#cdcbcb;
    font-size: 14px;
    font-weight: 300;
}

#inverted-button {
    border: 2px solid #F9FAF8;
    font-size: 14px;
    padding: 6px 26px;
    margin-right: 100px;
}

/*--------------footer------------*/

.footer {
    background-color: #1F2937;
    color:  #cbc9c9;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 0;
}





















